
body{
	display: flex;
	justify-content: center;
	align-content: center;
}
.wrapper{
	max-width: 1380px;
	border: 5px solid gray;
	font-family: 'Roboto', sans-serif, serif;
	margin-top: calc(538.875px / 7);
} 
.all_block{
	display: flex;
}
h1{
	display: flex;
	justify-content: center;
	width: auto;
	height: auto;
	color: darkorange;
}
.block-1{
	position: relative;
	width: 400px;
	height: 400px;
	margin: 25px;
	box-shadow: 0 0 15px black;
/*	transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;*/
}
img{
	position: absolute;
}
/*.block-1_white{
	position: absolute;
	height: 180px;
	width: 400px;
	background-color: white;
	margin-top: -183.5px;
}*/
.text{
    position: absolute;
    height: 180px;
	width: 400px;
	background-color: white;
    width: auto;
    height: auto;
    padding: 10px;
   	bottom: 0px;
   	transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.hidden {
    display: none;
}
.geo{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}
h4{
    font-size: 18px;
}
.block-1:hover > .text{
	text-align: center;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 7px solid darkorange;
	padding: 0;
	height: 400px;
}
.block-1:hover .geo{
	color: white;
}
.block-1:hover h4{
	background-color: orange;
	font-size: 24px;
}
.block-1:hover .hidden{
	display: block;
}
.block-1:hover .no-hidden, .hidden{
	color: white;
	padding: 0 10px;
}